.namecolor{
    color:green;
    text-align: center;
    
}
.regioncolor{
    color:cornflowerblue;
    text-align: center;
}
.capitalcolor{
    color: darkorchid;
    text-align: center;
}
.populationcolor{
    color: darkgoldenrod;
    text-align: center;
}
.weatherfont{
    margin-left: 80px;
}

.card{
    margin: 4pc;
}
